/* SUMMARY */

.stat-card {
  min-width: 100px;
  padding: 12px;
  flex: 1 0 32%;
  position: relative;
}

@media (orientation: landscape) {
  .stat-card {
    flex: 1 0 15%;
    border: 1px solid currentColor;
  }
  .stat-card:not(:last-of-type),
  .stat-card:first-of-type {
    border-right: none;
  }
}

/* SPEAKERS */

.speaker-card {
  padding: 12px;
  width: 100%;
  min-height: 280px;
  margin-bottom: 28px;
  position: relative;
}

@media screen and (min-width: 520px) {
  .speaker-card {
    flex: 1 0 calc(48%);
  }
  .speaker-card:not(:nth-child(2n)) {
    margin-right: 2%;
  }
}

@media (orientation: landscape) {
  .speaker-card:not(:nth-child(2n)) {
    margin-right: auto;
  }
  .speaker-card {
    flex: 1 0 31%;
  }
  .speaker-card:not(:nth-child(3n)) {
    margin-right: 2%;
  }
}

/* .speaker-card:first-of-type{
  background-color: var(--orange)!important;
}

.speaker-card:not(.placeholder):nth-child(odd){
  background-color: var(--purple);
}
.speaker-card:not(.placeholder):nth-child(even){
  background-color: var(--yellow);
} */

@media (orientation: portrait) {
  .speaker-card.placeholder {
    display: none;
  }
}

/* PROGRAM */

.download-card {
  text-align: center;
  cursor: pointer;
}
@media (orientation: landscape) {
  .download-card {
    position: absolute;
    top: -40px;
    left: -100px;
  }
}
.program-row {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

.program-row time {
  width: 100px;
  font-variant-numeric: tabular-nums;
  /* border:1px solid currentColor; */
}

.program-row time + * {
  flex: 1;
}

/* PRACTIQUE */

.map-card {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
address {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;
  font-weight: var(--font-bold);
}
