[data-reach-tab] {
  padding-left: 0 !important;
}
.experience-card {
  text-align: center;
  cursor: pointer;
}
@media (orientation: landscape) {
  .experience-card {
    position: absolute;
    top: 70px;
    left: 80%;
  }
}

.ticket-card {
  padding: 12px;
  width: 100%;
  border: 2px solid currentColor;
  margin-top: 12px;
  min-height: 480px;
}

@media (orientation: landscape) {
  .ticket-card {
    width: 48%;
  }
  .ticket-card:last-of-type {
    margin-left: 1%;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
}

@media (orientation: landscape) {
  .form-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.sortable-card {
  padding: 8px 12px;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.sortable-card:not(:last-of-type) {
  border-bottom: none;
}
