:root {
  --reach-tabs: 1;
}
[data-reach-tabs] {
  width: 100%;
}
[data-reach-tab-list] {
  display: flex;
  background: hsla(0, 0%, 0%, 0.05);
  background-color: transparent !important;
}

[data-reach-tab] {
  display: inline-block;
  border: none;
  padding: 0.25em 0.5em;
  margin: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
}

[data-reach-tab]:active,
.tab:active {
  background: hsla(0, 0%, 0%, 0.05);
}

[data-reach-tab]:disabled {
  opacity: 0.25;
  cursor: default;
}

[data-reach-tab][data-selected] {
  border-bottom: 1px solid currentColor;
}
.tab[data-selected]:focus {
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

[data-reach-tab-panel]:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
  /*TODO FIX*/
}
