nav.landscape {
  /* background-color: var(--purple); */
  padding: 12px;
}
@media (orientation: portrait) {
  .landscape {
    display: none;
  }
}
@media (max-width: 960px) {
  .landscape {
    display: none;
  }
}

#sidebar-button {
  background-color: transparent;
  border: 1px solid transparent;
  appearance: none;
  padding: 0;
}
#sidebar-button svg > rect {
  transform-origin: center center;
  transition: transform 200ms cubic-bezier(0.2, 0, 0.1, 1),
    opacity 20ms cubic-bezier(0.2, 0, 0.1, 1);
}

#sidebar-button {
  position: relative;
  z-index: 9;
  transform-origin: center center;
  transition: transform 200ms cubic-bezier(0.2, 0, 0.1, 1);
}

#sidebar-button:focus {
  outline: 1px solid transparent;
}

nav.portrait {
  padding: 18px;
  position: fixed;
  background-color: var(--orange);
  height: 100%;
  width: 100%;
  max-width: 300px;
  top: 0;
  left: 0;
  transform: translateX(-300px);
  transition: transform 200ms cubic-bezier(0.2, 0, 0.1, 1);
  z-index: 99;
  display: flex;
  flex-direction: column;
}

nav.portrait > button,
nav.portrait > a {
  padding-left: 0 !important;
}

nav.portrait > button:hover {
  opacity: 0.2;
  border-color: transparent;
  outline: none;
}

nav.portrait > button:focus {
  border-color: transparent;
  outline: none;
}

@media (orientation: landscape) and (min-width: 960px) {
  .portrait {
    display: none !important;
  }
  nav.landscape a + p,
  nav.landscape a:last-of-type {
    margin-left: 12px;
  }
}
