:root {
  --forms-owl: 12px;
  --forms-height: 50px;
  --forms-padding: 12px;
  --forms-background: transparent;
  --forms-color: var(--orange);
  --forms-border: var(--orange);
  --forms-error-background: var(--purple);
  --forms-error-color: var(--purple-dark);
  --forms-error-border: var(--orange);
  --forms-active-background: var(--orange);
  --forms-active-color: var(--purple-dark);
  --forms-active-border: var(--purple-dark);
  --forms-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.12),
    0 1px 2px hsla(0, 0%, 0%, 0.24);
  --input-s: 145px;
  --input-xs: 48px;
}

form {
  width: 100%;
}

.offscreen {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.center-transforms {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* INPUT */

.input-container {
  margin-bottom: var(--forms-owl);
}

.input-container > * + * {
  margin-top: var(--forms-owl);
}
.input-container > *:first-child {
  margin-top: 0;
}
.input-container > *:last-child {
  margin-top: 4px;
}

.input-container label {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="reset"],
input[type="password"],
input[type="submit"] {
  font: inherit;
  font-size: 1.4rem;
}

.input-container input {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;

  overflow: visible;
  /* EDGE */
  width: 100%;
  caret-color: var(--forms-color);

  border: 1px solid var(--forms-border);
  color: var(--forms-color);
  background-color: var(--forms-background);

  padding: var(--forms-padding);
  margin-bottom: var(--forms-owl);
  min-height: var(--forms-height);
}

.input-s {
  width: var(--input-s) !important;
}
.input-xs {
  width: var(--input-xs) !important;
  text-align: center;
}

input:focus {
  outline: none;
  border: 1px solid transparent;
  background-color: var(--forms-active-background);
  color: var(--forms-active-color);
  font-weight: bold;
  box-shadow: var(--forms-shadow);
}

input:disabled {
  opacity: 0.8;
  cursor: no-drop;
}

input:read-only {
  cursor: not-allowed;
}

[input-error] {
  color: var(--forms-error-border);
}

@media (orientation: portrait) {
  input {
    font-size: 16px !important;
  }
}

input[type="number"]::-webkit-outer-spin-button {
  min-height: auto;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 1000px rgba(0, 0, 0, 0.1) inset;
}

/* CHECKBOX */

.checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-bottom: var(--forms-owl);
}

.checkbox-container svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  pointer-events: none;
}

.checkbox-container input[type="checkbox"] {
  flex-shrink: 0;
  width: 33px;
  height: 33px;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: 1px solid var(--forms-border);
  background-color: var(--forms-background);
}

.checkbox-container label {
  color: var(--forms-color);
  flex-shrink: 0;
  padding: 0 1rem;
  margin-bottom: 0;
}
