footer {
  border-top: 2px solid currentColor;
  /* background-color: var(--purple); */
}

/* footer .checkbox-container input[type="checkbox"] {
  background-color: var(--light);
}
footer label {
  color: var(--light) !important;
}
footer input {
  background-color: var(--light) !important;
} */
