aside {
  width: 100%;
}

h1,
h1 + p {
  text-align: center;
}

.countdown-chars {
  flex: 1 0 49%;
  margin-right: 0 !important;
}

@media (orientation: landscape) {
  aside {
    padding: 20vh var(--space) 10vh var(--space) !important;
  }
  .countdown-chars {
    --grid-gap: 36px;
    flex: 1 0 calc(25% - var(--grid-gap));
  }
}

.cta-subtitle {
  margin: 10px 0;
  opacity: 0;
  animation: animationTitleAppears 0.45s cubic-bezier(0.65, 0.05, 0.36, 1)
    forwards 3s;
}

@keyframes animationTitleAppears {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
