.postcard {
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.city,
.hood {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
}

@media (orientation: landscape) {
  .city {
    transform: translateX(200px);
  }
  .city,
  .hood {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.hood > svg {
  position: relative;
  z-index: 4;
  transform: translate(1px, -2px);
}

.hood > svg:nth-child(2) {
  transform: translate(-31px, -18px);
  z-index: 3;
}
.hood > svg:nth-child(3) {
  transform: translate(-62px, -33px);
  z-index: 2;
}
.hood > svg:nth-child(4) {
  transform: translate(-94px, -49px);
  z-index: 1;
}

.hood + .hood {
  transform: translate(40px, -20px);
}

.hood + .hood + .hood {
  transform: translate(80px, -40px);
}

.item {
}
