*,
*::before,
*::after {
  box-sizing: border-box;
  color: currentColor;
}

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

@viewport {
  width: device-width;
}

html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  overflow-y: scroll;
}

aside,
article,
footer,
header,
main,
nav,
section {
  display: block;
}

img {
  border: 0;
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

[hidden],
template {
  display: none !important;
}

[disabled] {
  cursor: not-allowed;
}

a {
  background: transparent;
}

/*

LAYOUT ---- project
THEME ---- project
TYPOGRAPHY  ---- utility classes 
FLEX ---- utility classes 
LINKS ---- utility classes 
SPACERS ---- utility classes 

*/

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  position: relative;
}
@media (orientation: landscape) {
  /*and (min-width:1300px)*/
  section {
    padding: var(--space) 0;
  }
}

.section-xs,
.section-s,
.section-l,
.section-xl {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (orientation: landscape) {
  section {
    padding: 20vh 0;
  }
}

.section-xs {
  max-width: 580px;
}
.section-s {
  max-width: 770px;
}
.section-l {
  max-width: 960px;
}
.section-xl {
  max-width: 1300px;
}

.traced {
  border: 2px solid currentColor;
}

/* 
TODO:
.highlight {
	border: 8px solid rgba(255, 255, 255, 0.5);
	border-bottom: 0;
	border-left: 0;
	border-top-right-radius: 50px;
	width: 40px;
	height: 40px;
	z-index: 99;
	position: absolute;
	right: 30px;
	top: 30px;
} */

/* THEME  */

:root {
  --accent: tomato;
  --dark: #252525;
  --light: #f9f9f9;
  --pristine: rgb(255, 255, 255);
  --pink: rgb(244, 190, 212);
  --orange: rgb(228, 64, 55);
  --purple: rgb(99, 91, 199);
  --purple-dark: rgb(20, 19, 65);
  --yellow: rgb(255, 240, 155);
}

html,
body {
  background-color: var(--pristine);
  color: var(--dark);
}

.-accent {
  color: var(--accent);
}
._accent {
  background-color: var(--accent);
}

.-purple {
  color: var(--purple);
}
._purple {
  background-color: var(--purple);
}
.-purple-dark {
  color: var(--purple-dark);
}
._purple-dark {
  background-color: var(--purple-dark);
}
.-orange {
  color: var(--orange);
}
._orange {
  background-color: var(--orange);
}
.-yellow {
  color: var(--yellow);
}
._yellow {
  background-color: var(--yellow);
}
:root {
  --h00: calc((16 / 16) * 1.4rem); /* default */
  --h0: 6vmin;
  --h1: calc((42 / 16) * 1rem);
  --h2: calc((36 / 16) * 1rem);
  --font-weight-default: 400;
  --font-weight-bold: 700;
  --font-height-default: 1.4;
  --font-height-s: 1.15;
  --font-clamp-lines: 3;
}

body {
  font-size: var(--h00);
  font-weight: var(--font-weight-default);
  line-height: var(--font-height-default);
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-rendering: optimizeLegibility;
  font-family: "PT Sans", sans-serif;
  text-align: left;
}

/* TYPOGRAPHY */
.font-s {
  font-size: 1rem;
}
.h0 {
  font-size: var(--h0);
}
.h1,
h1 {
  font-size: var(--h1);
}
.h2 {
  font-size: var(--h2) !important;
}
.font-bold,
b,
strong {
  font-weight: var(--font-weight-bold);
  font-family: "PT Sans", sans-serif;
  /* text-shadow: 1px 0 0 currentColor; */
}

.font-center {
  text-align: center;
}
.font-uppercase {
  text-transform: uppercase;
}

.font-break {
  /*better than slice*/
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.unset-underline {
  text-decoration: none !important;
}

.font-clamp {
  /* 
style="--font-clamp-lines: 2"
 */
  display: -webkit-box;
  -webkit-line-clamp: var(--font-clamp-lines, 3);
  -webkit-box-orient: vertical;
  line-clamp: var(--font-clamp-lines, 3);
  overflow: hidden;
}

::-webkit-selection {
  background-color: var(--orange);
  color: var(--pink);
}

::-moz-selection {
  background-color: var(--orange);
  color: var(--pink);
}

::selection {
  background-color: var(--orange);
  color: var(--pink);
}

/*
  FLEX
  repo: https://github.com/polmoneys/css 
*/

.flex {
  display: flex;
}

@media (orientation: landscape) {
  .flex-landscape {
    display: flex;
  }
}

.col {
  flex-direction: column;
}

.grid {
  flex-wrap: wrap;
}

.row-gap > *:not(:last-child) {
  --row-child-margin: 6px;
  margin-right: var(--row-child-margin);
}

.row-gap.-xl > *:not(:last-child) {
  --row-child-margin: 28px;
  margin-right: var(--row-child-margin);
}
.col-gap > * {
  --column-child-margin: 6px;
  margin-bottom: var(--column-child-margin);
}
.col-gap.-xl > * {
  --column-child-margin: 28px;
  margin-bottom: var(--column-child-margin);
}

.trinity {
  /* shortcut for .flex.main-between.row-gap-x */
  display: flex;
  justify-content: space-between;
}

.trinity::before,
.trinity::after,
.row-gap-x::before,
.row-gap-x::after {
  content: "";
}

.self-push-left {
  margin-left: auto !important;
}

.self-push-right {
  margin-right: auto !important;
}

.self-push-top {
  margin-top: auto !important;
}

.self-push-bottom {
  margin-bottom: auto !important;
}

.self {
  flex: 2;
}

.self.-s {
  flex: 1;
}

.self.-l {
  flex: 3;
}

.self-unset {
  flex: 1;
  min-width: 0;
}

.main-start {
  justify-content: flex-start;
}

.main-end {
  justify-content: flex-end;
}

.main-center {
  justify-content: center;
}

.main-around {
  justify-content: space-around;
}

.main-between {
  justify-content: space-between;
}

.cross-center {
  align-items: center;
}

.cross-start {
  align-items: flex-start;
}

.cross-end {
  align-items: flex-end;
}

.cross-baseline {
  align-items: baseline;
}

.wrap-start {
  align-content: start;
}

.wrap-center {
  align-content: center;
}

.wrap-around {
  align-content: space-around;
}

.wrap-between {
  align-content: space-between;
}

.self-start {
  -ms-grid-row-align: start;
  align-self: start;
}

.self-center {
  -ms-grid-row-align: center;
  align-self: center;
}

.self-end {
  -ms-grid-row-align: end;
  align-self: end;
}

.self-stretch {
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.self-none {
  flex: none;
  /* inflexible (w/h) => flex: 0 0 auto */
}

@media (orientation: portrait) {
  .self-portrait-first {
    order: -1 !important;
  }
}

/* LINKS */

a > * {
  pointer-events: none;
}

a,
.touch-no-delay {
  touch-action: manipulation;
  letter-spacing: 1px;
}

.link-stretch {
  position: relative;
}

.link-stretch::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}

/* SPACERS */

.owl > * + *,
.lobotomized-owl > * + * {
  /*https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/*/
  margin-top: 12px;
}

.owl.-xl > * + *,
.lobotomized.owl.-xl > * + * {
  margin-top: 30px;
}

:root {
  --spacer: 16px;
  --spacer-s: 12px;
  --spacer-xs: 8px;
}

.spacer {
  display: flex;
  flex: 1;
  min-height: var(--spacer);
  speak: never;
}

.spacer.-s {
  min-height: var(--spacer-s);
}

.spacer.-xs {
  min-height: var(--spacer-xs);
}

:root {
  --space-sm: 0.5em;
  --space: 0.8em;
  --space-l: 14vh 0;
}

.pxy {
  padding: var(--space);
}

@media (orientation: landscape) {
  .pxy-landscape {
    padding: var(--space);
  }
}

.pxy.-sm {
  padding: var(--space-sm);
}

.pxy.-l {
  padding: var(--space-l);
}

.px {
  padding: 0 var(--space);
}

.px.-sm {
  padding: 0 var(--space-sm);
}

.px.-l {
  padding: 0 var(--space-l);
}

.py {
  padding: var(--space) 0;
}

.py.-sm {
  padding: var(--space-sm) 0;
}

.py.-l {
  padding: var(--space-l) 0;
}
