.main{
  padding:10vmin;
}
/* .container {
  max-width: 200px;
  list-style: none;
  margin-top: 10vh;
}

.container li {
  background-color: rgba(0, 0, 0, 0.2);
}
.container li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
} */
