/* RESET */

a {
  color: currentColor;
  background-color: transparent;
  text-decoration: none;
}

a > *,
button > * {
  pointer-events: none;
}

.action,
.touch-no-delay {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-family: inherit;
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: button;
  vertical-align: top;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  /* prevent touch scrolling on buttons */

  cursor: pointer;

  min-height: 44px;
  line-height: 44px;
  max-width: 320px;

  padding: 0 13px;
  position: relative;
}

button {
  appearance: none;
  overflow: visible;
  margin: 0;
  border-radius: 0;
  border: 1px solid transparent;
  background-color: transparent;
}

a:hover,
button:hover {
  filter: brightness(1.2);
}

a:visited,
a:focus,
button:focus {
  outline: none;
  box-shadow: 0 0 0 1px rgba(150, 150, 150, 0.1);
  filter: brightness(0.9);
}

button::-moz-focus-inner {
  border: 0;
}

.not-selectable {
  user-select: none;
}

/* THEMES */

:root {
  --action-bg: currentColor;
  --action-color: currentColor;
  --action-accent: var(--orange);

  --action-hover-color: currentColor;
  --action-active-color: currentColor;

  --action-border-color: transparent;
  --action-box-shadow: none;
  --action-transition: all 150ms ease-in-out;
  --action-border-radius: 0.33em;
  --action-border-style: solid;
  --action-border-width: 1px;
}

.sans-theme {
  letter-spacing: 0.05rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  overflow: hidden;
}

.animation-theme {
  transition: all 0.2s ease-out;
}

.tiny-theme {
  width: 100%;
  max-width: 44px;
  min-height: 44px;
}

.action-dark {
  --action-bg: rgba(40, 40, 40, 1);
  --action-color: rgba(255, 255, 255, 1);
  background-color: var(--action-bg);
  color: var(--action-color);
}

.action-light {
  --action-bg: rgba(200, 200, 200, 1);
  --action-color: rgba(40, 40, 40, 1);
  background-color: var(--action-bg);
  color: var(--action-color);
}

.action-transparent {
  background-color: transparent !important;
}

.action-accent,
a.action-accent {
  --action-color: rgba(40, 40, 40, 1);
  background-color: var(--action-accent);
  color: var(--action-color);
}
a.action-accent:hover {
  --action-color: rgba(40, 40, 40, 1);
  background-color: var(--action-accent);
  color: var(--action-color);
}

.action-traced,
.action-outlined {
  --action-border-color: currentColor;
  --action-hover-border-color: currentColor;
  --action-active-border-color: currentColor;
}

/* CARD */

.action-card {
  width: 25vmin;
  height: 25vmin;
  border-radius: 4px;
}

.action-card button {
  padding: 0;
}

.action-card-transparent {
  background-color: transparent !important;
}

.action-card-dark {
  background-color: rgba(100, 100, 100, 1);
}

.action-card-light {
  background-color: rgba(200, 200, 200, 1);
}

/* SPINNER */

.action-spinner {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  animation: spinner 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  pointer-events: none;
}

@keyframes spinner {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
